
@if (divFormSolicitud){
    <app-frm-solicitud [Input_data]="_data" (acciones)="recibirAcciones($event)"></app-frm-solicitud>
}

@if (divFormEvaluacion){
    <app-frm-evaluacion [Input_data]="_data" (acciones)="recibirAcciones($event)"></app-frm-evaluacion>
}

@if (divFormImplementacion){
    <app-frm-implementacion [Input_data]="_data" (acciones)="recibirAcciones($event)"></app-frm-implementacion>
}

@if (divFormTerminacion){
    <app-frm-terminacion [Input_data]="_data" (acciones)="recibirAcciones($event)"></app-frm-terminacion>
}

@if (divTablaProcesos){
    <app-tabla-procesos [Input_data]="_data" (acciones)="recibirAcciones($event)"></app-tabla-procesos>
}