<div class="col l12 m12 s12">
    <form class="col l12 m12 s12" [formGroup]="frm_implementacion" (ngSubmit)="onSubmit()">
        <div class="card col l12 m12 s12 paddingModal" style="height: auto; border-radius: 5px; margin-bottom: 0px;">

            <div class="col l12 m12 s12 anularPaddingMargin"
                style="display: flex; flex-direction: column; justify-content: center;">

                <div class="col l12 m12 s12">
                    <h5 class="titulo">{{titulo}}</h5>
                </div>

                <div class="row col l12 m12 s12">
                    <mat-form-field class="col l12 m12 s12" >
                        <mat-label style="padding: 10px;">Implementación</mat-label>
                        <textarea 
                            style="padding: 10px;"
                            matInput 
                            formControlName="implementacion"  
                            name="implementacion" 
                            id="implementacion" 
                            placeholder="Describa la implementación">
                        </textarea>
                    </mat-form-field>
                </div>

                <div class="row col l12 m12 s12">
                    <mat-form-field class="col l6 m6 s12" >
                        <mat-label style="padding: 10px;">Fecha de implementación</mat-label>
                        <input 
                            style="padding: 10px;"
                            matInput 
                            formControlName="fecha_implementacion"  
                            name="fecha_implementacion" 
                            id="fecha_implementacion" 
                            maxlength="10"
                            placeholder="día/mes/año" 
                            (input)="onInputFecha($event)"
                            (keydown)="onKeyDown($event)">
                    </mat-form-field>

                    <mat-form-field class="col l6 m6 s12" >
                        <mat-label style="padding: 10px;">Fecha de creación</mat-label>
                        <input 
                            readonly
                            style="padding: 10px;"
                            matInput 
                            formControlName="fecha_creacion"  
                            name="fecha_creacion" 
                            id="fecha_creacion" 
                            maxlength="10"
                            placeholder="día/mes/año">
                    </mat-form-field>
                </div>

                <!-- botones-->
                <div class="col l12 m12 s12"
                    style="display: flex; justify-content: flex-end; padding-left: 10px;padding-right: 10px;">

                    <div class="col l4 m4 s6" style="margin-top: 10px; padding: 2px;">
                        <div class="col l12 m12 s12">
                            <a class="btn btn-formato-blue">{{titulo_btn_cancelar}}</a>
                        </div>
                    </div>

                    @if (bool_btn_guardar){
                        <div class="col l4 m4 s6" style="margin-top: 10px; padding: 2px;">
                            <div class="col l12 m12 s12">
                                <button class="btn btn-formato-blue">{{titulo_btn_guardar}}</button>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </form>
</div>

